@media (max-width: 768px){
    .container{
        width: 768px;
    }
    .latest_container{
        max-width: 768px;
    }
    .header{
        height: 70px;
    }
    .header_nav{
        display: none;
    }
    .latest_big{
        height: 900px;
    }
    .big_grid{
        grid-template-columns: none;
        grid-template-rows: 2fr 2fr;
        row-gap: 20px;
    }
    .cards_grid{
        grid-template-columns: 1fr;
        gap: 10px;
    }
}